:root {
    box-sizing: border-box;
    --content-bg-color: rgba(224, 201, 166, 0.9);
    --font-stack: Arial, Helvetica, sans-serif;
}

body {
    font-family: var(--font-stack);
    line-height: 1.6;
}

body, h1, h2 {
    margin: 0;
}

.hero-image-background {
    min-height: 100vh;
    background-image: url('/images/katharine-crompton-ijyiUzYh1Gg-unsplash.jpg');
    background-size: cover;
    background-position: center;
}

.intro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.intro-heading {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.intro-content {
    max-width: 900px;
}

.intro-content > h1 {
    background-color: var(--content-bg-color);
    padding: 1rem;
    text-align: center;
    font-size: 4rem;
}

.intro-content > p {
    padding: 1.5rem;
    border-radius: 5px;
    background-color: var(--content-bg-color);
}

.intro-scroll {
    font-style: italic;
    text-align: center;
    padding: 0.1rem;

    border-radius: 5px;
    background: var(--content-bg-color);
    color: rgb(131, 131, 131)
}

.great-clans {
    background-image: url("/images/map-japan-old.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

    padding: 2.5rem;
}

.great-clans-header {
    max-width: 700px;
    margin: 0 auto 1.5rem;
    padding: 1rem 2rem;
    background-color: var(--content-bg-color);
    border-radius: 5px;
}

.great-clans-select {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.clan-info {
    max-width: 700px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    padding: 1.5rem;
}

.clan-info > dl {
    display: flex;
    flex-flow: row wrap;
    max-width: 500px;
    margin: 0 auto;
}

.clan-info dt {
    font-weight: bold;
    flex: 0 1 50%;
}

.clan-info dd  {
    margin: 0;
    flex: 0 1 50%;
}

.clan-info > h3 {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
}

.clan-emblem {
    text-align: center;
    font-size: 0.75rem;
}

.clan-emblem-img {
    max-width: 120px;
}

.hidden {
    display: none;
}

footer {
    padding: 1.5rem 2rem;
    background-color: var(--content-bg-color);
}

.footer-content {
    max-width: 700px;
    margin: auto;
}

footer > h3, footer > ul {
    margin: 0;
}